10mbdb/
1gbdb/
.vscode/
*.tar.gz
Project2/.nfs0000000000222cd300003e95
Project1/
*.o
*.bin
Project2/f_path
Project2/test.out
Project2/runTestCases.sh
Project2/output1.txt
*.out
Project3/f_path
Project3/f_path
Project3/ps.w.tmp
f_path*
Project3/output1.txt
p.test
Project4/output1.txt
Project4/Statistics.txt
Project4/output41.txt
